<!-- Description pokemon container -->
<div class="container-fluid">
  <div class="row">
    <br>
    <div class="col-xs-4 col-md-6">
      <img  ng-src="images/gif/{{('000' + vm.pokemon.id).slice(-3)}}.gif" class="img-responsive center-block">
    </div>

    <div class="col-xs-8 col-md-6">

      <div class="row">
        <div class="col-xs-8 col-md-12">
          <h1>
            <b>#<span ng-bind="vm.pokemon.id"></span> <span ng-bind="vm.pokemon.name | capitalize"></span></b>
          </h1>
        </div>
        <span class="icon-star" ng-click="vm.battleBox(vm.pokemon.id)" ng-class="{'active' : vm.isActive(vm.pokemon.id, vm.box) }"></span>
        <span class="icon-pokeball" ng-click="vm.caugth(vm.pokemon.id)" ng-class="{'active' : vm.isActive(vm.pokemon.id, vm.caugthUp) }"></span>
      </div>

      <ul class="list-inline">
				<li><b ng-bind="vm.pokemon.height"></b></li>
				<li><b ng-bind="vm.pokemon.weight"></b></li>
			</ul>

      <p ng-bind="vm.pokemon.species"></p>
      <!-- Pokemon type labels -->
      <span ng-repeat="type in vm.pokemon.type" class="label {{type | lowercase}}"></span>
    </div>
  </div>
</div>
<br>

<!-- - General information Panel -->
<div class="panel panel-default">
  <div class="panel-heading">General Information</div>

   <ul class="list-group">

     <li class="list-group-item">
      <div class="row">
        <div class="col-xs-5 col-md-6"><strong>Hidden Abilities</strong></div>
        <div class="col-xs-7 col-md-6"><span ng-repeat="abilitie in vm.pokemon.abilities">{{abilitie | capitalize}}. </span></div>
      </div>
     </li>

     <li class="list-group-item">
      <div class="row">
        <div class="col-xs-5 col-md-6"><strong>Location</strong></div>
        <div class="col-xs-7 col-md-6">Lumiose City</div>
      </div>
     </li>

   </ul>
</div>

<!-- Evolutions Panel -->
<div class="panel panel-default">

  <div class="panel-heading">Evolution</div>

  <div ng-show="vm.evolutions.length == 0">
    <br><div class="container-fluid"><p>This Pokemon is not part of an evolutionary line</p></div>
  </div>

  <div class="panel-body">

    <!-- Pokemon evolution -->
    <div ng-repeat="pokemon in vm.evolutions">
      <div class="media">

        <div class="media-left">
          <a href="#/pokemon/{{pokemon.id}}">
            <img class="media-object img-thumbnail evolution-thumbnail"  ng-src="images/pokemons/{{pokemon.id}}.png">
          </a>
        </div>

        <div class="media-body">

          <div class="row">
            <div class="col-xs-12 col-md-12">
              <p class="text-right"><p class="text-right">#<span class="text-muted" ng-bind="pokemon.id"></span></p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6 col-md-6"><h2 class="media-heading"><b ng-bind="pokemon.name | capitalize"></b></h2></div>
            <div class="col-xs-6 col-md-3"  ng-if="pokemon.level"><p>LV.<span class="text-muted"ng-bind="pokemon.level"></span></p></div>
          </div>

          <!-- Pokemon type labels -->
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <span ng-repeat="type in pokemon.type" class="label {{type | lowercase}}"></span>
            </div>
          </div>

       </div>

      </div>
    </div>
    <!-- END Pokemon evolution -->

  </div>
</div>
