

    <!-- Navbar header -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">

          <a class="navbar-brand" href="/">
             <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
          </a>
          <p class="navbar-text text-center">Description</p>

        </div>
      </div>
    </nav>

    <!-- Description pokemon container -->
    <div class="container-fluid">
      <div class="row">

        <div class="col-xs-4 col-md-6">
          <img src="images/pokemons/bulbasaur.png" class="img-thumbnail">
        </div>

        <div class="col-xs-8 col-md-6">

          <div class="row">
            <div class="col-xs-8 col-md-12"><h1><b>#001 Bulbasaur</b></h1></div>
            <div class="col-xs-1 col-md-3"><img src="images/icons/empty-plate.svg" class="icon" /></div>
            <div class="col-xs-1 col-md-3"><img src="images/icons/star.svg"  class="icon" /></div>
          </div>

          <ul class="list-inline">
						<li><b>0.7 m</b></li>
						<li><b>6.9 kg</b></li>
					</ul>

          <p>
            Bulbasaur is a small, quadruped Pokémon that has blue-green skin with darker green patches. It has red eyes with white pupils and pointe
          </p>
          <!-- Pokemon type labels -->
          <span class="label poison"></span>
          <span class="label grass"></span>
        </div>
      </div>
    </div>
    <br>

    <!-- - General information Panel -->
    <div class="panel panel-default">
      <div class="panel-heading">General Information</div>

       <ul class="list-group">

         <li class="list-group-item">
          <div class="row">
            <div class="col-xs-6 col-md-6"><strong>Hidden Abilities</strong></div>
            <div class="col-xs-6 col-md-6">Clorophyll</div>
          </div>
         </li>

         <li class="list-group-item">
          <div class="row">
            <div class="col-xs-6 col-md-6"><strong>Location</strong></div>
            <div class="col-xs-6 col-md-6">Lumiose City</div>
          </div>
         </li>

       </ul>
    </div>

    <!-- Evolutions Panel -->
    <div class="panel panel-default">
      <div class="panel-heading">Evolution</div>
      <div class="panel-body">

        <!-- Pokemon evolution -->
        <div class="media">

          <div class="media-left">
            <a href="/">
              <img class="media-object img-thumbnail evolution-thumbnail"  src="images/pokemons/Ivysaur.png">
            </a>
          </div>

          <div class="media-body">

            <div class="row">
                <div class="col-xs-12 col-md-12"><p class="text-right"><p  class="text-right"><span class="text-muted">#002</span></p></div>
            </div>

            <div class="row">
              <div class="col-xs-6 col-md-6"><h2 class="media-heading"><b>Ivysaur</b></h2></div>
              <div class="col-xs-6 col-md-3"><p><span class="text-muted">LV. 16</span></p></div>
            </div>
            <!-- Pokemon type labels -->
            <span class="label poison"></span>
            <span class="label grass"></span>
         </div>

        </div>
        <!-- END Pokemon evolution -->

        <!-- Pokemon evolution -->
        <div class="media">

          <div class="media-left">
            <a href="/">
              <img class="media-object img-thumbnail evolution-thumbnail" src="images/pokemons/venusaur.png">
            </a>
          </div>

          <div class="media-body">

            <div class="row">
              <div class="col-xs-12 col-md-12"><p class="text-right"><span class="text-muted">#003</span></p></div>
            </div>

            <div class="row">
              <div class="col-xs-6 col-md-6"><h2 class="media-heading"><b>Venusaur</b></h2></div>
              <div class="col-xs-6 col-md-3"><p><span class="text-muted">LV. 32</span></p></div>
            </div>
            <!-- Pokemon type labels -->
            <span class="label poison"></span>
            <span class="label grass"></span>
         </div>

        </div>
        <!-- END Pokemon evolution -->

      </div>
    </div>
