<div class="container-fluid">
 <div class="row">

   <div class="col-xs-10 col-md-10">
     <form role="search">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="pokedexSearch" placeholder="Search">
      </div>
    </form>
   </div>

   <div class="col-xs-2 col-md-2">
      <span class="icon-sort"  ng-click="vm.order()" ></span>
   </div>

 </div>

 <h3 ng-show="results.length == 0">You have not captured any Pokemon</h3>

</div>

<!-- Evolutions Panel -->
<div class="panel panel-default">
  <div class="panel-body">

    <!-- Pokemon  -->
    <div ng-repeat="pokemon in vm.pokemons | filter:vm.listPokedex | filter:{ name: pokedexSearch }  as results ">
      <div class="media">

        <div class="media-left">
          <a href="#/pokemon/{{pokemon.id}}">
            <img class="media-object img-thumbnail evolution-thumbnail"  ng-src="images/pokemons/{{pokemon.id}}.png">
          </a>
        </div>

        <div class="media-body">

          <div class="row">
            <div class="col-xs-12 col-md-12">
              <p class="text-right"><p class="text-right">#<span class="text-muted" ng-bind="pokemon.id"></span></p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6 col-md-6"><h2 class="media-heading"><b ng-bind="pokemon.name | capitalize"></b></h2></div>
            <div class="col-xs-6 col-md-3"  ng-if="pokemon.level"><p>LV.<span class="text-muted"ng-bind="pokemon.level"></span></p></div>
          </div>

          <!-- Pokemon type labels -->
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <span ng-repeat="type in pokemon.type" class="label {{type | lowercase}}"></span>
              <span class="icon-star" ng-click="vm.battleBox(pokemon.id)" ng-class="{'active' : vm.isActive(pokemon.id, vm.box) }"></span>
              <span class="icon-pokeball" ng-click="vm.caugth(pokemon.id)" ng-class="{'active' : vm.isActive(pokemon.id, vm.caugthUp) }"></span>
            </div>
          </div>

       </dilv>

      </div>
    </div>  <!-- END Pokemon  -->
  </div>

</div>
